@media print {
    #header {
        margin-bottom:20px;
    }

    li {
        visibility: visible;
    }

    .footer p {
        font-size:8px !important;
    }

    .main-content div p {
        font-size:3px;
    }

    #content .main-content p {
        margin-bottom:10px !important;
    }

    #content .main-content {
        min-height:720px !important;
    }

    #content .main-content div:nth-child(2) {
        margin-bottom:5px;
    }

    //FIREFOX does not show the correct list elements after the first item when printing - so remove it
    ol { 
        list-style-type: decimal !important;
    }

    li:before {
        visibility: collapse !important; 
    }
}

#content .main-content .footer .footer-barcode {
    margin-left: -180px !important;
}

@media only screen and (max-width: 750px) {
    #header {
        margin-bottom:30px;
    }
}