#content {

    max-width:750px;

    .main-content {
        display:block;
        flex:none;
        width:100%;
    }

    .ticket-img {
        width:auto;
    }

    .footer {
        margin-top:30px;
    }
}

#header {
    .grid {
        display: -ms-grid;
        -ms-grid-columns: 110px 100px;
        font-size:11px;
        margin-top:20px;

        .col11 {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            grid-column: 1;
            grid-row: 1;
        }
    
        .col12 {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            grid-column: 2;
            grid-row: 1;
        }
    
        .col21 {
            -ms-grid-column: 1;
            -ms-grid-row: 2;
            grid-column: 1;
            grid-row: 2;
        }
    
        .col22 {
            -ms-grid-column: 2;
            -ms-grid-row: 2;
            grid-column: 2;
            grid-row: 2;
        }
    
        .col31 {
            -ms-grid-column: 1;
            -ms-grid-row: 3;
            grid-column: 1;
            grid-row: 3;
        }
    
        .col32 {
            -ms-grid-column: 2;
            -ms-grid-row: 3;
            grid-column: 2;
            grid-row: 3;
        }
    
        .col41 {
            -ms-grid-column: 1;
            -ms-grid-row: 4;
            grid-column: 1;
            grid-row: 4;
        }
    
        .col42 {
            -ms-grid-column: 2;
            -ms-grid-row: 4;
            grid-column: 2;
            grid-row: 4;
        }
    }
}

@media print {
    .container {
        padding-right:0px !important;
    }

    #content {
        word-wrap: break-word;
        width:800px;
    }
}

@media only screen and (max-width: 1100px) {
    #content {
        display: block;
        flex: none;
    }
}

@media only screen and (max-width: 750px) {
    #header {
        margin-bottom:30px;
    }
}

