@media print {
    #header {
        margin-bottom:20px;
    }

    p {
        font-weight:400 !important;
        color: #555 !important;
        font-size:11px !important;
    }

    li {
        font-size:12px !important;
    }

    .footer p {
        font-size:7px !important;
    }

    #content .main-content {
        min-height:660px !important;

        p {
            margin-bottom: 20px;
        }
    }

    .container:not(:first-of-type) .footer {
        flex: 1 0 230px !important; 
    }
}