@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$barcodeFontColor: #444;
$ticketDataColor: #aaa;
$mainContentParagraphColor: #777;
$unorderedListElementColor: #333;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hidden {
	display:none;
}

.mobile-holder {
	flex-direction: row !important;
	align-items: start !important;
}
.mobile-container {
	width:100% !important;
	max-width:none !important;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.arrow {
	position: fixed;
	z-index:10;
	display: inline-block;
	vertical-align: middle;
	opacity:0;
	transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}

.fade-in-arrow {
	opacity: .25;
}

.left {
	position: fixed;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	margin-right: 1.5em;
	left:5px;
	top: 50%;
	transform: translateY(-50%);
	z-index:10;

  &:after {
	content: '';
	display: inline-block;
	margin-top: .55em;
    margin-left: 0.7em;
	width: 1.4em;
	height: 1.4em;
	border-top: 0.5em solid #333;
	border-right: 0.5em solid #333;
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
  }
}

.right {
	position: fixed;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	margin-left: 1.5em;
	right:5px;
	top: 50%;
	transform: translateY(-50%);
	z-index:10;

	&:after {
		content: '';
		display: inline-block;
		margin-top: .6em;
    	margin-left: 0.3em;
		width: 1.4em;
		height: 1.4em;
		border-top: 0.5em solid #333;
		border-right: 0.5em solid #333;
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
	transform: translateY(-50%);
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%) translateY(-50%);
	}
	50%{
		transform: translateX(-8%) translateY(-50%);
	}
	65%{
		transform: translateX(4%) translateY(-50%);
	}
	80%{
		transform: translateX(-4%) translateY(-50%);
	}
	95%{
		transform: translateX(2%) translateY(-50%);
	}			
	100% {
		transform: translateX(0%) translateY(-50%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%) translateY(-50%);
	}
	50%{
		-webkit-transform: translateX(-8%) translateY(-50%);
	}
	65%{
		-webkit-transform: translateX(4%) translateY(-50%);
	}
	80%{
		-webkit-transform: translateX(-4%) translateY(-50%);
	}
	95%{
		-webkit-transform: translateX(2%) translateY(-50%);
	}			
	100% {
		-webkit-transform: translateX(0%) translateY(-50%);
	}
}

.holder {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	flex:1 0 auto;
	display: flex;
	flex-direction: column;
	padding: 30px;
	padding-right:50px;
	width:80%;
	max-width:900px;
}

#header {
	width: 100%;
	margin-bottom:60px;

	.row {
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.logo {
		font-size:30px;
	}

	.barcode {
		font-size:30px;
		color: $barcodeFontColor;

		div {
			word-wrap: break-word;
		}

		.barcode-img {
			margin-top:10px;
			position: relative;
			left: 50%;
			right: 50%;
			transform: translateX(-50%);
		}

		.ticket-cnt {
			font-weight: 900;
		}

		.center {
			text-align:center;
			font-size:13px;
		}

		.row {
			margin-top:20px;
			justify-content: start;

			div:nth-child(2) {
				margin-left:20px;
			}
		}

		.grid {
			display: grid;
			//grid-template-columns: repeat(2, 105px);
			//grid-template-rows: repeat(4, auto);
			font-size:11px;
			margin-top:20px;
		}

		.col11 {
			grid-column: 1;
			grid-row: 1;
		}

		.col12 {
			grid-column: 2;
			grid-row: 1;
		}

		.col21 {
			grid-column: 1;
			grid-row: 2;
		}

		.col22 {
			grid-column: 2;
			grid-row: 2;
		}

		.col31 {
			grid-column: 1;
			grid-row: 3;
		}

		.col32 {
			grid-column: 2;
			grid-row: 3;
		}

		.col41 {
			grid-column: 1;
			grid-row: 4;
		}

		.col42 {
			grid-column: 2;
			grid-row: 4;
		}

		span,
		b {
			font-size: 11px;
		}

		span {
			color:$ticketDataColor;
		}
	}
}

#content {
	flex:2 0 auto;
	display: flex;
	flex-direction: row;

	.row {
		display:flex;
		flex-direction: row;
	}

	.ticket-img {
		width:80px;
		margin-top:-10px;
	}

	.main-content {
		flex:10;
		display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height:750px;

		span {
			font-size:18px;
		}

		p {
			font-size:12px;
			font-weight:300;
			margin-bottom:40px;
			color:$mainContentParagraphColor;
			line-height:17px;
		}

		div:nth-child(2) {
			margin-bottom:20px;
		}

		ol { 
			margin-top:20px;
			counter-reset: item;
			list-style-type: none;
		}

		ol li {
			margin: 10px 0px 10px 50px;
			font-weight:300;
			color:$unorderedListElementColor;
			width:80%;
		}

		li:before { 
			content: counter(item) "  "; 
			counter-increment: item;
			border-radius:50%;
			width: 20px; line-height: 20px;
			border:1px solid #aaa;
			padding: 8px;
			text-align:center;
			position:absolute;
			margin-left:-50px;
			margin-top:-10px;
			font-weight: 900;
			color:black;
        }

		.footer {
			//flex:1 0 230px; //210px
			display:flex;
			flex-direction: row;
            //justify-content: flex-end;
            align-items: flex-end;
            
            .footer-barcode {
                transform: rotate(90deg) translateY(50%) translateX(25%);
                transform-origin: right;
                margin-left:-100px;
                text-align: center;

                span {
                    font-size: 13px;
                }
            }

			h6 {
				font-size:10px;
				margin-bottom:16px;
			}

			p {
				font-size:8px;
				line-height:14px;
				margin-bottom:16px;
			}
		}
	}
}

#slider {
	visibility: hidden;
	transition: opacity .75s ease-in-out;
	-webkit-transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -ms-transition: opacity .75s ease-in-out;
    -o-transition: opacity .75s ease-in-out;
}

#slider.fade-in {
	opacity: 1;
}

.animate { 
	transition: transform 0.3s ease-out; 
}

.ms-touch.slider {
	overflow-x: scroll;
	overflow-y: hidden;
	
	-ms-overflow-style: none;
	/* Hides the scrollbar. */
	
	-ms-scroll-chaining: none;
	/* Prevents Metro from swiping to the next tab or app. */
	
	-ms-scroll-snap-type: mandatory;
	/* Forces a snap scroll behavior on your images. */
	
	-ms-scroll-snap-points-x: snapInterval(0%, 100%);
	/* Defines the y and x intervals to snap to when scrolling. */
}

.spinner {
	width: 40px;
	height: 40px;
	background-color: #333;

	opacity: 1;

	position: fixed;
	top:45%;
	left:45%;
	transform: translate(-50%, -50%);
  
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
	transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}

.spinner.fade-out {
	opacity: 0;
}
  
@-webkit-keyframes sk-rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
  
@keyframes sk-rotateplane {
	0% { 
	  transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	  -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	} 50% { 
	  transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	  -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	} 100% { 
	  transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	  -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@media all {
	.pagebreak {
		display:none;
	}
}

@media print {
	.container {
		padding: 0;
		width:100%;
		max-width:none;
        flex: 1 0 auto;
        padding-right:50px;

		&:not(:first-of-type) .footer {
			flex: 1 0 250px !important; 
		}
	}

	.holder {
		display:block;
	}

	#slider {
		display:block;
	}

	body {
		display: block;
	}

	.pagebreak {
		display:block;
		page-break-before: always;
		page-break-inside: avoid;
		-webkit-region-break-inside: avoid;
    }

	.footer {
        justify-content: flex-end !important;
        
        .footer-barcode {
            display: block;
        }
	}
}

@media only screen and (max-width: 1100px) {
	.footer {
		margin-top:20px;
		justify-content: flex-start !important;
	}
}

@media only screen and (max-width: 750px) {
	.container {
		width:90%;
	}

	#header {
		margin-bottom:0px;

		.ticket-cnt {
			font-size: 16px !important;
		}
	
		.row {
			flex-direction:column;
			align-items: center;
		}
	}

	#content .row {
		flex-direction: column;
		align-items: center;
	}

	.main-content {
		flex: 10 0 auto !important;
	}

	#ticket-img-elem {
		width: 100px;
		margin-top: -20px;
		margin-bottom:10px;
	}

	.ticket-img {
		visibility: collapse;
	}

	.footer {
		flex: 1 0 auto !important;
        max-height:none !important;
        
        .footer-barcode {
            display: none;
        }
	}
}

