@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	padding: 50px 50px;
	font-family: 'Open Sans', sans-serif;
}

#header {
	width: 100%;
	flex:1;

	.row {
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.logo {
		font-size:30px;
	}

	.barcode {

	}
}

#content {
	flex:2;
	display: flex;
	flex-direction: row;

	.row {
		display:flex;
		flex-direction: row;
	}

	.ticket-img {
		flex:1;
	}

	.main-content {
		flex:10;
		display: flex;
		flex-direction: column;

		span {
			font-size:18px;
		}

		p {
			font-size:11px;
			font-weight:300;
			margin-bottom:40px;
			color:#777;
			line-height:17px;
		}

		div:nth-child(2) {
			margin-bottom:20px;
		}

		ol { 
			margin-top:20px;
			counter-reset: item;
			list-style-type: none;
		}

		ol li {
			margin: 10px 0px 10px 50px;
			font-weight:300;
			color:#666;
			width:80%;
		}

		li:before { 
			content: counter(item) "  "; 
			counter-increment: item;
			border-radius:50%;
			width: 20px; line-height: 20px;
			border:1px solid #aaa;
			padding: 8px;
			text-align:center;
			position:absolute;
			margin-left:-50px;
			margin-top:-10px;
			font-weight: 900;
			color:black;
		}

		.footer {
			margin-top:110px;

			h6 {
				font-size:10px;
				margin-bottom:20px;
			}

			p {
				font-size:9px;
				line-height:14px;
				margin-bottom:20px;
			}
		}
	}
}

