@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$barcodeFontColor: #444;
$ticketDataColor: #aaa;
$mainContentParagraphColor: #777;
$unorderedListElementColor: #333;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	padding: 30px;
	padding-right:50px;
	font-family: 'Open Sans', sans-serif;
}

#header {
	width: 100%;
	margin-bottom:60px;

	.row {
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.logo {
		font-size:30px;
	}

	.barcode {
		font-size:30px;
		color: $barcodeFontColor;

		.barcode-img {
			margin-top:10px;
			position: relative;
			left: 50%;
			right: 50%;
			transform: translateX(-50%);
		}

		.center {
			text-align:center;
			font-size:13px;
		}

		.row {
			margin-top:20px;
			justify-content: start;

			div:nth-child(2) {
				margin-left:20px;
			}
		}

		.grid {
			display: grid;
			grid-template-columns: repeat(2, minmax(75px, 100px));
			grid-template-rows: repeat(4, auto);
			font-size:11px;
			margin-top:20px;
		}

		.col11 {
			grid-column: 1;
			grid-row: 1;
		}

		.col12 {
			grid-column: 2;
			grid-row: 1;
		}

		.col21 {
			grid-column: 1;
			grid-row: 2;
		}

		.col22 {
			grid-column: 2;
			grid-row: 2;
		}

		.col31 {
			grid-column: 1;
			grid-row: 3;
		}

		.col32 {
			grid-column: 2;
			grid-row: 3;
		}

		.col41 {
			grid-column: 1;
			grid-row: 4;
		}

		.col42 {
			grid-column: 2;
			grid-row: 4;
		}

		span,
		b {
			font-size: 11px;
		}

		span {
			color:$ticketDataColor;
		}
	}
}

#content {
	flex:2;
	display: flex;
	flex-direction: row;

	.row {
		display:flex;
		flex-direction: row;
	}

	.ticket-img {
		width:80px;
		margin-top:-10px;
	}

	.main-content {
		flex:10;
		display: flex;
		flex-direction: column;

		span {
			font-size:18px;
		}

		p {
			font-size:12px;
			font-weight:300;
			margin-bottom:40px;
			color:$mainContentParagraphColor;
			line-height:17px;
		}

		div:nth-child(2) {
			margin-bottom:20px;
		}

		ol { 
			margin-top:20px;
			counter-reset: item;
			list-style-type: none;
		}

		ol li {
			margin: 10px 0px 10px 50px;
			font-weight:300;
			color:$unorderedListElementColor;
			width:80%;
		}

		li:before { 
			content: counter(item) "  "; 
			counter-increment: item;
			border-radius:50%;
			width: 20px; line-height: 20px;
			border:1px solid #aaa;
			padding: 8px;
			text-align:center;
			position:absolute;
			margin-left:-50px;
			margin-top:-10px;
			font-weight: 900;
			color:black;
		}

		.footer {
			margin-top:100px;

			h6 {
				font-size:10px;
				margin-bottom:16px;
			}

			p {
				font-size:9px;
				line-height:14px;
				margin-bottom:16px;
			}
		}
	}
}

@media print {
	html, body {
		height:100%;
		overflow: hidden;
	}
}

